.btn {
  border: none;
  padding: 12px 20px;
  color: white;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.btn:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.size {
  width: 200px;
}

.size-fit {
  width: fit-content;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.orange {
  background-color: rgb(190, 114, 0);
}

.blue {
  background-color: var(--blue-dark-color)
}

@media only screen and (max-width: 1300px) {
  .btn {
    padding: 10px 15px;
    height: 50px;
    font-size: 16px;
  }

  .size {
    width: 150px;
  }
}

@media only screen and (max-width: 1000px) {
  .btn {
    padding: 5px 15px;
    height: 40px;
    font-size: 16px;
  }

  .size {
    width: 120px;
  }
}

@media only screen and (max-width: 500px) {
  .size {
    width: fit-content;
  }
}