.table-icon {
  margin: 0 5px;
  cursor: pointer;
  font-size: 20px;
}

.t-status {
  color: white;
  padding: 3px 10px;
  border-radius: 8px;
  font-size: 16px;
  white-space: nowrap;
}

.t-paid {
  background-color: green;
}

.t-pay {
  background-color: red;
}

.pagination-area {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

@media only screen and (max-width: 1000px) {
  .table-icon {
    font-size: 15px;
  }
  
  .t-status {
    padding: 3px 5px;
    font-size: 12px;
  }
}