.content {
  position: absolute;
  top: 90px;
  left: 230px;

  width: 87vw;
  height: 83vh;
  background-color: var(--gray-light-color);
}

@media only screen and (max-width: 1300px) {
  .content {
    left: 100px;
    width: 92vw;
  }
}

@media only screen and (max-width: 1000px) {
  .content {
    top: 50px;
    left: 70px;
    width: 90vw;
    height: 100vh;
  }
}