.button {
    border: none;
    padding: 12px 20px;
    color: white;
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.green {
    background-color: green;
}

.disabled {
    background-color: rgba(3, 144, 3, 0.579);
    cursor: not-allowed;
}

.icon {
    margin: 5px 15px 0 0;
}

@media only screen and (max-width: 1000px) {
  .button {
    padding: 0;
    width: 50px;
    height: 40px;
    font-size: 16px;
    border-radius: 8px;
  }

  .text{
    display: none;
  }

  .icon {
    margin: 0;
  }
}