.container {
  display: flex;
  flex-direction: column;
  justify-content: left;

  width: 92%;
  height: calc(100vh - var(--header-height) - 40px);
  margin: var(--content-margin);
  box-sizing: border-box;
}

.content {
  width: 100%;
  height: 100%;
  padding: 20px;

  background-color: white;
  border-radius: 0 0 var(--content-border-radius) var(--content-border-radius);
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.tabs {
  display: flex;
  width: 100%;
}

.tab {
  padding: 10px;
  width: 25%;
  height: 70px;
  background-color: var(--tertiary-color);

  color: white;
  text-align: center;
  font-size: 18px;

  border-radius: var(--content-border-radius) var(--content-border-radius) 0 0;
  box-shadow: 0 -4px 6px rgba(0,0,0,0.2);
  cursor: pointer;
}

.tab:hover {
  background-color: var(--secondary-color);
  color: white;
  font-weight: bold;
}

.selected {
  background-color: white;
  color: var(--primary-color);
  font-weight: bold;
  cursor: default;
}

.selected:hover {
  background-color: white;
  color: var(--primary-color);
}

.report {
  font-weight: 500;
  background-color: var(--quaternary-color);
  cursor: pointer;
  width: 200px;
  text-align: center;
}

.report:hover {
  background-color: var(--tertiary-color);
  font-weight: 700;
  color: white;
}

.report,
.income,
.summary,
.inputs,
.outputs {
  box-shadow: 0 8px 6px -6px rgb(99, 99, 99);
  border-radius: 20px;
  padding: 30px;
}

.summary {
  background-color: rgb(230, 230, 230);
}

.inputs {
  background-color: rgb(214, 255, 224);
}

.outputs {
  background-color: rgb(249, 199, 199);
}

.income {
  background-color: var(--quaternary-color);
}

.inputThin {
  background: white;
  padding: 2px 12px;
  border: 1px solid var(--gray-medium);
}

.inputWide {
  background: var(--gray-lighter);
  padding: 6px 12px;
}

.inputThin,
.inputWide {
  width: 100%;
  font-size: 0.95rem;
  color: black;
  border-radius: 8px;
}

.inputThin:focus,
.inputWide:focus {
  border-color: var(--gray-medium);
  box-shadow: 0 0 0 3px rgba(21, 59, 139, 0.15);
  outline: none;
}

.label {
  margin: 5px 15px 0 0;
  min-width: fit-content;
  font-weight: 500;
}

.speechbubble {
  position: absolute;
  bottom: 6vh;
  left: 7vw;
  font-size: 14px;
  background-color: #c1ffc5;
  border-radius: 15px;
  padding: 10px 20px;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 8px 6px -6px rgb(99, 99, 99);
}

.speechbubble::after {
  content: '';
  position: absolute;

  top: -20px;
  left: 50px;
  border-width: 0px 20px 20px;

  border-style: solid;
  border-color: #c1ffc5 transparent;
  display: block;
  width: 0;
}

.red {
  color: red;
}

.green {
  color: green;
}

@media only screen and (max-width: 1000px) {
  .speechbubble {
    display: none;
  }
}