.filter {
  display: flex;
  height: 50px;
}

.select {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  font-size: var(--text-size);
  margin-left: 10px;
  background: var(--gray-lighter);
}

@media only screen and (max-width: 1000px) {
  .filter {
    height: 40px;
  }
}