@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-color: black;
  --gray-dark-color: rgb(58, 58, 58);
  --gray-light-color: rgb(228, 228, 228);
  --red-dark-color: rgb(178, 15, 15);
  --red-light-color: rgb(239, 182, 182);
  --blue-light-color: rgb(207, 217, 254);
  --blue-dark-color: rgb(1, 32, 144);
  --blue-darker-color: rgb(0, 14, 63);
}

body {
  background-color: var(--gray-light-color);
}

.app-area {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  font-size: 18px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 20px;

  margin: 30px;
  width: 92%;
  height: fit-content;
  min-height: 70vh;
  background-color: white;
  box-shadow: 2px 2px 20px rgb(148, 148, 148);
}

@media only screen and (max-width: 1000px) {
  body {
    min-height: 500px;
  }

  .app-area {
    min-height: 100px;
    font-size: 14px;
    overflow-y: auto;
  }

  .content {
    padding: 15px;
    margin: 15px;
    width: 95%;
    min-height: 300px;
  }
}
