@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./styles/variables.css";

body {
  background-color: var(--secondary-color);
}

.app-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.app-layout {
  position: relative;
  z-index: 1;

  margin-left: var(--sidebar-width);

  width: var(--content-width);
  height: 100%;
  min-height: 100vh;

  background-color: var(--gray-lighter);
  border-radius: 50px 0 0 50px;
}

.app-content {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 20px;

  margin: var(--content-margin);
  width: 92%;
  height: 80vh;

  background-color: white;
  border-radius: var(--content-border-radius);
  box-shadow: var(--box-shadow);
}

.divider {
  height: 1px;
  margin: 10px 0;
  background: linear-gradient(to right, transparent, white, transparent);
}
