.area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.icon {
  width: 100%;
  height: 100px;
  color: "#86cafe"
}

.form {
  background-color: white;
  width: 35vw;
  height: fit-content;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.3);
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

@media only screen and (max-width: 1200px) {
  .form {
    width: 40vw;
  }
}

@media only screen and (max-width: 500px) {
  .icon {
    margin: 0 auto 0 auto;
    height: 60px;
  }

  .form {
    width: 80vw;
    padding: 20px;
  }
}