.wrapper {
  width: 100%;
  overflow-x: auto;
  max-height: 50vh;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.thead {
  position: sticky;
  top: 0;
}

.th,
.td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  font-size: var(--text-size);
  white-space: nowrap;
}

.th {
  background-color: var(--gray-medium);
  color: black;
  font-size: 16px;
}

.tr:nth-child(even) {
  background-color: #eeeded;
}

.tr:hover {
  background-color: var(--quaternary-color);
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.empty {
  text-align: center;
  padding: 2rem;
  color: black;
}