.trigger {
  display: inline-flex;
}

.tooltip {
  position: fixed;
  z-index: 9999;

  background: #111827;
  color: white;
  padding: 0.4rem 0.6rem;
  font-size: 0.75rem;
  border-radius: 4px;

  pointer-events: none;
  white-space: nowrap;

  transform: translate(-50%, -100%);
}

.bottom {
  transform: translate(-50%, 0);
}

.left {
  transform: translate(-100%, -50%);
}

.right {
  transform: translate(0, -50%);
}