.area {
  display: flex;
  justify-content: space-around;
  height: 48%;
}

@media only screen and (max-width: 1000px) {
  .area {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-top: 10px;
  }

  .area > * {
    margin-bottom: 20px;
    width: 90%;
  }
}