.background {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00000094;
  width: 100vw;
  height: 100vh;
  z-index: 3;
}

.modal {
  position: absolute;
  top: 10vh;
  left: 35vw;
  background-color: white;
  height: fit-content;
  width: 40vw;
  border-radius: 10px;
  padding: 30px 40px;
  z-index: 4;
  max-height: 550px;
  overflow-y: auto;
}

.title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  .modal {
    top: 10vh;
    left: 20vw;
    width: 55vw;
    overflow: auto;
    max-height: 80vh;
    padding: 30px;
  }

  .content {
    font-size: 16px;
  }
}

@media only screen and (max-width: 500px) {
  .background {
    width: 100%;
    height: 100%;
  }

  .modal {
    top: 0;
    left: 0;
    width: 80%;
    max-height: 80%;
    margin: 40px;
  }
}